{% extends 'template.twig' %}
{% block title %}Editing {{ invite.name }} // Admin{% endblock %}
{% block page %}admin invite edit{% endblock %}
{% block section %}admin{% endblock %}
{% block content %}
    <h1>Editing {{ invite.code }}</h1>
    <form method="post" autocomplete="off">
        <input type="text" name="only_for_description" id="only_for_description" placeholder="Only For... (e.g. staff members)" required value="{{ invite.only_for_description }}" autocomplete="off" />
        <input type="checkbox" name="gapps" id="gapps" value="1" {% if invite.gapps %}checked{% endif %} />
        <label for="gapps">Create GApps*</label>
        <input type="submit" value="Update" />
        {{ csrf|raw }}
    </form>
    <p><a href="/admin/invites/{{ invite.id }}/delete">Want to delete this invite?</a></p>
    <p><a href="/invite/{{ invite.code }}">Invite link</a></p>

    <h1>Groups</h1>
    <ul>
        {% for group in invite.groups %}
            <li>
                {{ group.name }}
                <form action="/admin/invites/{{ invite.id }}/removegroup" method="post">
                    {{ csrf|raw }}
                    <input type="hidden" name="groupID" value="{{ group.id }}" />
                    <input type="submit" value="remove" />
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="/admin/invites/{{ invite.id }}/addgroup" method="post">
        {{ csrf|raw }}
        <select name="groupID">
            {% for group in all_unadded_groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add" />
    </form>
    <p>
      * When checked, this invite will create a Google Apps account (which includes a @studentrnd.org email) for each user
      that registers with it.
    </p>
{% endblock %}
